html, body, input, button {
  font-family: Sawasdee;
  font-size: 20px;
}

#dogtown {
 background: red; 
}

#ludeville {
 background: green; 
}

.game-piece {
	width: 320px;
	height: 80px;
 background: white;
 border: 1px black solid;
}