html, body, input, button {
  font-family: Sawasdee;
  font-size: 20px;
}

.game-piece {
	width: 320px;
	height: 80px;
 background: white;
 border: 1px black solid;
}

.lotr {
	display: flex;
	flex-wrap: wrap;
}

.members-container {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.location {
	min-width: 320px;
	min-height: 80px;
	text-align: center;
	box-sizing: border-box;
	border: 1px black solid;
}

#Mordor {
	width: 100%;
	background: #473F4E;
	color: white;
}
#Mordor > .members-container{
	flex-direction: row;
	justify-content: center;
}

#TheShire {
	width: 100%;
	background: #C9C9A4;
}

#TheShire > .members-container{
	flex-direction: row;
	justify-content: center;
}



#Dacorlad {
	color: white;
	width: 50%;
	background: #473F4E;
}

#Gondor {
	width: 50%;
	background: #AAB673;
}

#Wirkwood {
	width: 33.33333%;
	background: #969C6C;
}
#Fangorn {
	width: 33.33333%;
	background: #969C6C;
}
#Rohan {
	width: 33.33333%;
	background: #DBCB78;
}

/*Mountains*/
#TheHighPass {
	width: 25%;
	color: white;
	background: #523A33;
}

#MistyMountains {
	width: 25%;
	color: white;
	background: #523A33;
}
#Caradhras {
	width: 25%;
	color: white;
	background: #523A33;
}
#GateofRohan {
	width: 25%;
	color: white;
	background: #523A33;
}

#Rhudaur {
	width: 33.33333%;
	background: #969C6C;
}
#Eregion {
	width: 33.33333%;
	background: #DBCB78;
}
#Eneowaith {
	width: 33.33333%;
	background: #969C6C;
}

#Artheham {
	width: 50%;
	background: #AAB673;
}

#Cardolan {
	width: 50%;
	background: #AAB673;
}